    <!doctype html>
    <html>
        <body>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message | safe }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
            <title>Upload new File</title>
            <br>
            <div class="container">
                <h1>Upload new File</h1>
                <form action="" method=post enctype=multipart/form-data>
                    <div align="right" >
                        <input class="btn btn-danger" type=submit name ="logout"  value= "Logout">
                    </div>
                  <p><input class="btn btn-default" type=file name=file>
                      <br>
                     <input class="btn btn-warning" type=submit name = "upload" value="Upload">
                </form>
            </div>
        </body>
    </html>